*
{
    color:black;
    margin: 0;
    padding: 0;
}
.border
{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}
.container {
    display: flex;
    flex-flow: row;
}
header,section,articale,footer{
    border:3px solid blue;
    border-collapse:collapse;
}
ul li
{
    list-style-type: none;
}
li{color:red;}
a:link{color:blue;}
a:visited{color:black;}
#list *{
    color: gray;
}
#a+p{
    color:purple;
}
#button:hover {
    background-color: gray;
}
input[type=radio]:checked{border:1px solid black;}